In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [5]:
my_list = ["a","b","c","d"]

In [6]:
my_list

['a', 'b', 'c', 'd']

In [7]:
my_list[0]

'a'

In [8]:
#length of the string
len("UnitedStatesofAmerica")

21

In [9]:
len(my_list)

4

In [5]:
my_list = [1,2,3,4,5]

In [6]:
my_list

[1, 2, 3, 4, 5]

In [7]:
#to adding, use append
my_list.append(6)

In [8]:
my_list

[1, 2, 3, 4, 5, 6]

In [9]:
#to delete, use pop
my_list.pop()

6

In [10]:
my_list

[1, 2, 3, 4, 5]

In [11]:
my_list_new = my_list.pop(2)

In [12]:
my_list_new

3

In [13]:
my_list

[1, 2, 4, 5]

In [14]:
mylist = [1,2,3,4,5]

In [15]:
#to reversing
mylist.reverse()

In [16]:
mylist

[5, 4, 3, 2, 1]

In [17]:
result = mylist.reverse()

In [19]:
result

In [20]:
mylist = [12,3,4,5,6,8,9]

In [21]:
#to sorting
mylist.sort()

In [22]:
mylist

[3, 4, 5, 6, 8, 9, 12]

In [23]:
mylist = [1,2,3,4,5]

In [24]:
#to inserting
mylist.insert(2,"New one")

In [25]:
mylist

[1, 2, 'New one', 3, 4, 5]

In [26]:
mylist1 = [1,2,3,["a","b","c"]]

In [27]:
mylist1

[1, 2, 3, ['a', 'b', 'c']]

In [28]:
mylist1[3][1]

'b'