In [1]:
#1+1

In [2]:
"Hello"

'Hello'

In [3]:
'I'm python'

SyntaxError: invalid syntax (<ipython-input-3-65573b189d11>, line 1)

In [4]:
"I'am python"

"I'am python"

In [5]:
"one"
"two"

'two'

In [6]:
print("one")

one

In [9]:
print("This is firt line \n This is second line")

This is firt line
 This is second line

In [10]:
print("This is firt line \nThis is second line")

This is firt line
This is second line

In [11]:
print("This is firt line \tThis is second line")

This is firt line 	This is second line

In [13]:
country = "Turkey"

In [14]:
country

'Turkey'

In [15]:
country[1]

'u'

In [16]:
country[-1]

'y'

In [17]:
country[0:4]

'Turk'

In [18]:
country[3:5]

'ke'

In [19]:
country[3:]

'key'

In [20]:
country[:4]

'Turk'

In [21]:
#[start:finish:step] /// example [0:6:2] it means starts from 0 finish at 6 and it shows every other letter

In [26]:
country[0:6:2]

'Tre'

In [27]:
country.upper()

'TURKEY'

In [28]:
country.lower()

'turkey'

In [29]:
New = country.upper()

In [30]:
New

'TURKEY'

In [31]:
country

'Turkey'

In [32]:
country.split()

['Turkey']

In [33]:
country.split("2")

['Turkey']

In [37]:
user_name = "Recruit"
action = "Run"

In [38]:
print("The {}" .format(user_name))

The Recruit

In [39]:
print("The {}" .format(action))

The Run

In [41]:
print("The {} needs to {}" .format(user_name,action))

The Recruit needs to Run

In [42]:
print("The {a} needs to {b}" .format(a=user_name,b=action))

The Recruit needs to Run

In [43]:
print("The {b} needs to {b}" .format(a=user_name,b=action))

The Run needs to Run